.cart {
  position: sticky;
  bottom: 0;
}
.hide {
  display: none;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  padding: 10px;
}
#listItem {
  border-bottom: 1px solid gray;
}
.listItemArea {
  max-height: 30vh;
  overflow-y: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.listItemArea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.listItemArea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.login {
  margin: 0 2vw 0 2vw;
}
