.Item {
  display: flex;
}
.productImage {
  width: 20vw;
}
.productDetails {
  width: 80vw;
  padding-left: 10px;
}
.productImage > img {
  /* width: 100%; */
  /* height: auto; */
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.priceAndNumber {
  display: flex;
  justify-content: space-between;
}
.counter {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.qty {
  margin-left: 10px;
  margin-right: 10px;
}
.ButtonSize {
  padding-left: 30px;
  padding-right: 30px;
}
